/* colours */
.color-about {
    background-color: #a3d4f5;
  }
  .color-adopt {
    background-color: #f3e2ee;
  }
  .color-rehome {
    background-color: #cedade;
  }
  .color-involved {
    background-color: #DFE2E2;
  }
  .color-contact {
    background-color: #b6e2cb;
  }
//   .color-yellow {
//     background-color: #FAEB33;
//   }
//   .color-orange {
//     background-color: #F19031;
//   }
//   .color-red {
//     background-color: #F2293A;
//   }

// "a3d4f5","f3e2ee","cedade","DFE2E2","b6e2cb"