// Font

// Color

$blue:          #007bff;
$dark-blue:     #00247d;
$blue-text:     #0154c3;
$light-gray:    #ebeced;

@mixin nav-bg-color {
    background: hsla(223, 100%, 25%, 1);

    background: radial-gradient(circle, hsla(223, 100%, 25%, 1) 0%, hsla(211, 97%, 42%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(223, 100%, 25%, 1) 0%, hsla(211, 97%, 42%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(223, 100%, 25%, 1) 0%, hsla(211, 97%, 42%, 1) 100%);

    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00247D", endColorstr="#0367D4", GradientType=1 );
}