.rescue-logo {
    max-height: 110px;
}


.sidebar {
    position: fixed;
    width: 150px;
    background-color: #DDD;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

.main-content {
    position: relative;            
    margin-left: 150px;
}

.desktop-nav {
    margin-left: 150px;
}