@import "partials/variables";
@import "partials/home";
@import "partials/about";
@import "partials/adopt";
@import "partials/rehome";
@import "partials/get-involved";
@import "partials/contact";
@import "partials/sidebar";
@import "partials/color-change";


html body {
    background-color: #a3d4f5;
    transition: background-color 1s ease;
    color: $blue-text !important;
}

.wrapper {
    padding: 1em
}


.rescue-logo {
    width: 100%;
    padding: 1em;
}

nav.navbar.sidebar {
    padding: 0;
}

.main-content {
    &.wrapper {
        padding: 0;
    }
    // background-color: $light-gray;
    // color: $blue-text;
    position: relative;            
    margin-left: 200px;
    width: 100%;
    


    @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 56px;
    }
}



.col.right-main-content {
    padding: 0;
}

.page-content {
    height: 100vh;
    min-height: 800px;
    h2 {
        margin-bottom: 50px;
    }
}


