#home {
  height: 100vh;
  background-size: cover;
  min-height: 850px;
  width: 100%;
  position: relative;
}
#home .wrapper {
  padding: 0;
  display: flex;
}
#home .wrapper .home-text-container {
  flex: 50%;
  position: relative;
  height: 100vh;
  min-height: 850px;
}
#home .wrapper .home-text-container .home-logo {
  width: 70%;
  margin: 20% auto 0;
  position: relative;
}
@media (min-width: 1200px) {
  #home .wrapper .home-text-container .home-logo {
    width: 50%;
  }
}
#home .wrapper .home-text-container .home-logo img {
  width: 100%;
  border-radius: 50%;
  box-shadow: #00247d 0px 0px 20px 2px;
}
#home .wrapper .home-text-container .home-text-box {
  margin: 0 12.5%;
  padding: 20px;
  width: 75%;
  background: white;
  border-radius: 15px;
  position: relative;
  bottom: -8%;
  right: 0;
  box-shadow: #00247d 5px 5px 20px 2px;
}
#home .wrapper .home-text-container .home-text-box .home-text h2 {
  margin: 0;
  text-align: center;
  color: #00247d;
}
#home .wrapper .home-img {
  flex: 50%;
}
#home .wrapper .home-img img {
  height: 100vh;
  object-fit: cover;
  object-position: 20% 0%;
  width: 100%;
  min-height: 850px;
  border-radius: 0 0 0 50px;
  box-shadow: #00247d 0px -5px 10px 0px;
}
#home .arrow-section {
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
}
#home .arrow-section .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
}
#home .arrow-section .arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#about .about-text-box {
  width: 95%;
  position: relative;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: #00247d 0px 0px 20px 2px;
  text-align: center;
  min-height: 500px;
  margin: auto;
  padding: 20px 50px;
}
@media (min-width: 1200px) {
  #about .about-text-box {
    width: 80%;
    padding: 50px 80px;
  }
}

#adopt .adopt-text-box {
  width: 95%;
  position: relative;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: #00247d 0px 0px 20px 2px;
  text-align: center;
  min-height: 500px;
  margin: auto;
  padding: 20px 50px;
}
@media (min-width: 1200px) {
  #adopt .adopt-text-box {
    width: 80%;
    padding: 50px 80px;
  }
}

#rehome .rehome-text-box {
  width: 95%;
  position: relative;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: #00247d 0px 0px 20px 2px;
  text-align: center;
  min-height: 500px;
  margin: auto;
  padding: 20px 50px;
}
@media (min-width: 1200px) {
  #rehome .rehome-text-box {
    width: 80%;
    padding: 50px 80px;
  }
}

#get-involved .get-involved-text-box {
  width: 95%;
  position: relative;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: #00247d 0px 0px 20px 2px;
  text-align: center;
  min-height: 500px;
  margin: auto;
  padding: 20px 50px;
}
@media (min-width: 1200px) {
  #get-involved .get-involved-text-box {
    width: 80%;
    padding: 50px 80px;
  }
}

#contact .contact-text-box {
  width: 95%;
  position: relative;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: #00247d 0px 0px 20px 2px;
  text-align: center;
  min-height: 500px;
  margin: auto;
  padding: 20px 50px;
}
@media (min-width: 1200px) {
  #contact .contact-text-box {
    width: 80%;
    padding: 50px 80px;
  }
}

.col.sidebar {
  background: white;
  position: fixed;
  width: 200px;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  padding: 0;
}
.col.sidebar .navbar .rescue-logo {
  padding: 0;
  border-radius: 50%;
}
.col.sidebar .navbar .nav-link {
  color: #00247d;
}

/* colours */
.color-about {
  background-color: #a3d4f5;
}

.color-adopt {
  background-color: #f3e2ee;
}

.color-rehome {
  background-color: #cedade;
}

.color-involved {
  background-color: #dfe2e2;
}

.color-contact {
  background-color: #b6e2cb;
}

html body {
  background-color: #a3d4f5;
  transition: background-color 1s ease;
  color: #0154c3 !important;
}

.wrapper {
  padding: 1em;
}

.rescue-logo {
  width: 100%;
  padding: 1em;
}

nav.navbar.sidebar {
  padding: 0;
}

.main-content {
  position: relative;
  margin-left: 200px;
  width: 100%;
}
.main-content.wrapper {
  padding: 0;
}
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-top: 56px;
  }
}

.col.right-main-content {
  padding: 0;
}

.page-content {
  height: 100vh;
  min-height: 800px;
}
.page-content h2 {
  margin-bottom: 50px;
}
